$def with (content)

<html>
  <head>
    <title>Credits - Firefly Contributors Credits</title>
  </head>
  <body>
    <div>
      <h1>Credits</h1>
    </div>
    <div>$:content</div>
    <div>
      <hr/>
      <em>
	<a href="https://github.com/sahid/credits/commit/">$version</a>
      </em> - 
      <em>
	This project aims to create a simple way to follow contributions
	on git based projects. It is hosted on GitHub and totally free. Please
	feel free to hack it. - <a href="https://github.com/sahid/credits/">fork me</a>
      </em>
    </div>
  </body>
</html>
